streamlit~=1.35.0
pandas~=2.2.2
matplotlib~=3.8.4
missingno~=0.5.2
numpy~=1.26.4
seaborn~=0.13.2
pillow~=10.3.0
graphviz~=0.20.1
joblib~=1.4.0
catboost~=1.2.3
imblearn~=0.0
lightgbm~=4.3.0
scipy~=1.11.1
scikit-learn~=1.4.2
xgboost~=2.0.3
statsmodels~=0.14.2
yellowbrick~=1.5
plotly~=5.22.0
networkx~=3.3
altair~=5.3.0